<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="port" value="55556"/>
        <add key="ip" value="127.0.0.1"/>
    </appSettings>
	<connectionStrings>
		<clear />
		<!-- PostgreSQL connection string -->
		<add name="MppDb"
			 providerName="Npgsql"
			 connectionString="Host=192.168.64.1;Port=5432;Database=GestiuneTurism;Username=mihai;Password=mpp;" />
	</connectionStrings>


</configuration>